---
import Plantilla from '@/plantillas/Plantilla.astro';
import Lienzo from '@/componentes/Lienzo.astro';
---

<Plantilla>
  <main>
    <h1>..:: Decaer ::..</h1>
    <h2>formas de matar al padre</h2>

    <Lienzo />
  </main>
</Plantilla>

<style lang="scss">
  h1,
  h2 {
    text-align: center;
  }
</style>
